.page-title {
  margin-bottom: 40px;
}

.page-title.background-page {
  background-image: url("../images/demo/manosCavaBanner.png");
}

#respond button,
.btn-primary {
  background-color: #9b28b7;
}

.gridComponent{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.gridComponent div{
  align-items: center;
}
.Big-title{
  color:#9b28b7;
  font-weight: bold;
  font-size: 70px;
}
.paragrafh{
  font-style: italic;
  font-size: 1.2rem;
}
.center-class{
  text-align: center;
}
.center-space{
  margin-top: 13%;
}
.navbar-style{
  margin-bottom: 20px;
}
.btn-style{
  border: none;
  border-radius: 20px;
  width: 100%;
}
.opt{
  display: flex;
  justify-content: flex-end;
  margin-left: .5px;
}
.opt a i{
  color: blueviolet;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1px;
}
.new-recom{
padding: 5px;
background-color: #9b28b7;
width: fit-content;
border-radius: 5%;
align-items: center;
margin: auto;
margin-bottom: 2%;
}
.new-recom a{
  text-decoration:  none;
  color: aliceblue;

}
