.page-title {
  margin-bottom: 40px;
}

.page-title.background-page {
  background-image: url("../images/demo/manosCavaBanner.png");
}

#respond button,
.btn-primary {
  background-color: #9b28b7;
}

.gridComponent{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.gridComponent div{
  align-items: center;
}
.Big-title{
  color:#9b28b7;
  font-weight: bold;
  font-size: 70px;
}
.paragrafh{
  font-style: italic;
  font-size: 1.2rem;
}
.center-class{
  text-align: center;
}
.center-space{
  margin-top: 13%;
}
header{
  margin-bottom: 20px;
}
